<a href="https://colab.research.google.com/github/shannonshih/Tibame_GAD245-Practice-HW_0102/blob/main/Practice01_0102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
f = open("a.txt", "w", encoding="utf-8")
# 以前邏輯 寫入功能: write(f, "abcde")
# 但我們發覺妳那第一個參數非得是檔案型態不可
# 我們會想強調 這個功能是檔案的特殊功能
# 專屬功能: f.write("abcde")
f.write("abcde")
# 所以打不出來的字, 譬如換行, 我們就會用兩個符號來組合這個字 \n
f.write("\nfgh")
# 記得關閉, 因為關閉的時候會順便幫妳存檔
# 以前: close(f)
# 專屬功能: f.close()
f.close()

In [2]:
# 資料夾資料夾  資料夾檔案 分隔always使用/
f = open("sample_data/README.md", "r", encoding="utf-8")
# 以前: content = read(f)
# 專屬功能: content = f.read()
content = f.read()
print(content)
f.close()

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [ ]:
# 預設值定義
def add(n1, n2=3.14, n3=20, n4=50):
    ans = n1 + n2 + n3
    return ans
print(add(3, 5))
print(add(3))
print(add(3, n3=40))

In [10]:
scores = [30, 20, 60, 60, 40]
print(sum(scores),
   min(scores),
   max(scores),
   len(scores))
print(60 in scores)

# print(scores[len(scores)-1])
print(scores[-1])
print(scores[1:4])
print(scores[1:-1])
print(scores[:4])
print(scores[1:])

# list[2:11:3] [2, 5, 8]
print(scores[1:5:2])
# 奇數位置
print(scores[::2])
# 偶數位置
print(scores[1::2])
# 跳號的值是正的, 就左到右
# 跳號的值是負的, 從右到左
# list[11:2:-3] [11, 8, 5]
# !!!!!
print(scores[::-1])

210 20 60 5
True
40
[20, 60, 60]
[20, 60, 60]
[30, 20, 60, 60]
[20, 60, 60, 40]
[20, 60]
[30, 60, 40]
[20, 60]
[40, 60, 60, 20, 30]

In [16]:
scores = [60, 80, 20, 30, 50]
total = 0
i = 0
while i < len(scores):
    # !!! 很不泛用: 以後不適每種群的key都會是0 1 2 3
    if scores[i] >= 60:
        total = total + 1
        print(scores[i])
    i = i + 1
print(total)

60
80
2

In [20]:
scores = [60, 80, 20, 30, 50]
total = 0
for s in scores:
    if s >= 60:
        total = total + 1
        print(s)
print(total)

60
80
2

In [21]:
# 1 + 2.... + 10
total = 0
i = 0
while i < 10:
    total = total + (i + 1)
    print(total)
    i = i + 1

1
3
6
10
15
21
28
36
45
55

In [23]:
total = 0
for i in range(10):
    total = total + (i + 1)
    print(total)

1
3
6
10
15
21
28
36
45
55

In [40]:
# for in
# 1 + 2.... + 10
list[i] = int(input("請輸入10個數字: "))
i = 0
total = 0
for s in list[i]:
    total = total + list[i]
    print(total)
    i = i + 1

請輸入10個數字: 1 2 3 4 5 6 7 8 9 10

ValueError: invalid literal for int() with base 10: '1 2 3 4 5 6 7 8 9 10'